/* note - try to use hyphens for css to improve readibility */
body {
    color: #40514e;
    margin: 0; 
    text-align: center; 
    font-family: 'Merriweather', serif; 
}


h1 {
    font-family: 'Sacramento', cursive; 
    line-height: 2;
    margin: 50px auto 0 auto; 
    font-size: 5.625em;  /* NOTE -->    1em = 16px =  100%*/
    color: #66BFBF;
    
}
h2 {
    font-family: 'Montserrat',sans-serif;
    width: 40%; 
    margin: 0 auto 0 auto; 
    font-size: 2.5rem; 
    color: #66BFBF; 
    font-weight: normal;  
    padding-bottom: 10px;
    
}
h3 {
    font-family: 'Montserrat',sans-serif;
    color: #11999E; 

}
a {
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 10px;
    text-decoration: none;
}
a:hover {
    color: rgba(185, 125, 200, 0.4);
}
.top-container{
    background-color: #eaf5f5;
    padding-top: 100px;
    position: relative;  

    
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto; 
    text-align: left; 
    line-height: 2; 
}
.development-img{
    width: 25%;
    float: left; 
    margin-right: 30px; 
}
.cyber-img {
    width: 25%;
    float: right; 
    margin-left: 30px ;
}
.face-img{
    width: 15%;
    
}

.intro {
    width: 30%; 
    margin: 0 auto; 
    line-height: 2; 
}


/* For Dotted Horizontal rule */
hr {
    background-color: white; 
    border-style: none;  
    border-top-style: dotted; 
    border-width: 10px; 
    border-color: grey; 
    width: 5%; 
    margin: 50px auto; 
}
.middle-container {
    
    margin: 100px 0; 
   

}
.bottom-container{
    
    background-color: #97d2d2;
    padding: 50px 0 20px;
}
.contact-info{
    width: 30%; 
    /* three hand circle rule ( top left-right bottom) */
    margin: 40px auto 60px;
}
 
.first-cloud {
    position: absolute; 
    right: 300px;
    top: 50px; 
}   
.second-cloud {
    position: absolute; 
    left: 300px; 
    bottom: 300px; 
}  



/* button styling  */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #002452;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


.copyright {
    color: #EAF6F6;
    font-family: 'Montserrat',sans-serif;
    font-size: 0.75rem;
    padding: 20px 0;
}